.confirmacao {
  position: fixed;
  width: 100%;
  top: 70px;
  min-height: 100vh;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 30px 20px;
}
.confirmacao h1 {
  margin: 15px 0px 5px;
  font-size: 2rem;
  max-width: 150px;
}
.confirmacao .p-we-hope {
  color: rgb(129, 118, 107);
  font-weight: 500;
  margin-top: 0px;
  font-size: 0.9rem;
  margin-bottom: 20px;
}
.confirmacao .rodape {
  max-height: 150px;
  position: relative;
  overflow-y: scroll;
  overflow-x: scroll;
}
.confirmacao .flex-cart {
  display: flex;
}
.confirmacao .flex-cart img {
  width: 70px;
  height: 50px;
  margin-right: 10px;
}
.confirmacao .cart {
  background-color: rgb(245, 242, 238);
  padding: 20px;
}
.confirmacao .cart hr {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  border: none;
  border-bottom: 0.5px rgba(163, 163, 163, 0.288) solid;
}
.confirmacao .cart .cart-div {
  margin-top: 0px;
  display: flex;
  width: 100%;
}
.confirmacao .cart .cart-div .flex-price-p3 {
  margin: auto 0px;
  position: relative;
  width: 30%;
  font-weight: 600;
  justify-content: flex-end;
  display: flex;
  position: relative;
}
.confirmacao .cart .cart-div .flex-price-p3 p {
  margin-right: 10px;
}
.confirmacao .cart .cart-div .order-price {
  width: 70%;
  overflow: hidden;
}
.confirmacao .cart .cart-div .order-price .p {
  font-size: 0.8rem;
}
.confirmacao .cart .cart-div .order-price #order-price-p {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.74);
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 130px;
}
.confirmacao .cart .cart-div .order-price .flex-price {
  display: flex;
}
.confirmacao .cart .cart-div .order-price .flex-price p {
  margin-right: 5px;
}
.confirmacao .cart .cart-div .order-price .flex-price .flex-price-p1 {
  color: rgb(185, 49, 0);
  font-size: 0.8rem;
}
.confirmacao .cart .cart-div .order-price .flex-price .flex-price-p2 {
  color: rgba(128, 128, 128, 0.63);
  font-size: 0.8rem;
}
.confirmacao .cart .order-total {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}
.confirmacao .cart .order-total p {
  font-weight: 600;
  font-size: 0.9rem;
  color: rgb(139, 139, 139);
}
.confirmacao .cart button {
  margin-top: 15px;
  width: 100%;
  border-radius: 15px;
  padding: 13px;
  background-color: orangered;
  border: none;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 360px) {
  .confirmacao .rodape {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
@media screen and (min-width: 500px) {
  .confirmacao {
    padding: 30px 40px;
    max-width: 450px;
    position: absolute;
    min-height: 0vh;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
    margin-inline: auto;
    border-radius: 15px;
  }
  .confirmacao .rodape {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .confirmacao .cart .cart-div {
    margin-top: 0px;
    display: flex;
    width: 100%;
  }
  .confirmacao .cart .cart-div .flex-price-p3 {
    margin: auto 0px;
    position: relative;
    width: 30%;
    font-weight: 600;
    justify-content: flex-end;
    display: flex;
    position: relative;
  }
  .confirmacao .cart .cart-div .flex-price-p3 p {
    margin-right: 10px;
  }
  .confirmacao .cart .cart-div .order-price {
    width: 70%;
    overflow: hidden;
  }
  .confirmacao .cart .cart-div .order-price .p {
    font-size: 0.8rem;
  }
  .confirmacao .cart .cart-div .order-price #order-price-p {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.74);
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }
  .confirmacao .cart .cart-div .order-price .flex-price {
    display: flex;
  }
  .confirmacao .cart .cart-div .order-price .flex-price p {
    margin-right: 5px;
  }
  .confirmacao .cart .cart-div .order-price .flex-price .flex-price-p1 {
    color: rgb(185, 49, 0);
    font-size: 0.8rem;
  }
  .confirmacao .cart .cart-div .order-price .flex-price .flex-price-p2 {
    color: rgba(128, 128, 128, 0.63);
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 769px) {
  .confirmacao .rodape {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}


/*# sourceMappingURL=confirmacao.css.map */
